<div class="card shadow-sm">
  <div class="card-body">
    <table class="table mb-0">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{user?.lastName}}</td>
        </tr>
        <tr>
          <th scope="row">Prénom</th>
          <td>{{user?.firstName}}</td>
        </tr>
        <tr>
          <th scope="row">Téléphone</th>
          <td>{{user?.phone}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{user?.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>