<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Azertee</a>
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Produits</a>
      </li>
    </ul>
    <p id="userName">{{authState.user?.firstName}}</p>
    <div class="dropdown-center">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/img/user.png" alt="user" width="32" height="32">
      </a>
      <ul class="dropdown-menu dropdown-menu-end fs-3" aria-labelledby="dropdownUser">
        <div *ngIf="!authState.user">
          <li>
            <a class="dropdown-item" routerLink="/login">Connexion</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/register">S'enregistrer</a>
          </li>
        </div>
        <div *ngIf="authState.user">
          <div *ngIf="authState.user.role=='ROLE_ADMIN';then roleADMIN else roleUSER"></div>
          <ng-template #roleADMIN>
            <li>
              <a class="dropdown-item" routerLink="/product/create">Créer un produit</a>
            </li>
          </ng-template>
          <ng-template #roleUSER>
            <li>
              <a class="dropdown-item" routerLink="/account">Compte</a>
            </li>
          </ng-template>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Déconnexion</a>
          </li>
        </div>
      </ul>
    </div>
    <div class="ms-2 px-2">
      <a routerLink="/cart">
        <img src="/assets/img/cart.png" alt="cart" width="32" height="32">
        <div *ngIf="cart.length>0" id="cart">
          <p>{{cart.length}}</p>
        </div>
      </a>
    </div>
  </div>
</nav>