#userName{
  font-size: 75%;
}
#cart {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  text-align: center;
  background-color: #0d6efd;
}