<div class="mx-auto w-75 mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Connexion</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="login()">
        <p class="text-danger" *ngIf="hasError">Identifiant ou mot de passe invalide</p>
        <div class="mb-3">
          <label for="email" class="form-label">Adresse mail</label>
          <input name="email" [(ngModel)]="email" type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input name="password" [(ngModel)]="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
      <a routerLink="/register" class="card-link">Pas de compte ? Créer le</a>
    </div>
  </div>
</div>