<div class="card shadow-sm">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-4 col-lg-2 px-lg-4">
      <img [src]="imgUrl | serverFile" (error)="imgUrl=defaultImg" class="img-fluid rounded-start" alt="Photo du produit">
    </div>
    <div class="col-8 col-lg-10">
      <div class="card-body">
        <h5 class="card-title">{{item?.product?.label}}</h5>
        <div class="row g-2">
          <div class="col-lg-4 align-self-center order-lg-start">
            <div>
              <p class="text-secondary m-0">Taille</p>
              <p class="mb-0">{{item?.size?.label}}</p>
            </div>
          </div>
          <div class="col-lg-4 align-self-center order-lg-4">
            <div>
              <p class="text-secondary m-0">Motif</p>
              <p class="mb-0">{{item?.design?.label}}</p>
            </div>
          </div>
          <div class="col-lg-4 align-self-center order-lg-2">
            <app-quantity *ngIf="edit" [quantitySelected]="item?.quantity" (quantityEmit)="editQuantity($event)">
            </app-quantity>
            <div *ngIf="!edit">
              <p class="text-secondary m-0 text-lg-center">Quantité</p>
              <p class="text-lg-center mb-0">{{item?.quantity}}</p>
            </div>
          </div>
          <div class="col-lg-4 align-self-center order-lg-5">
            <button *ngIf="edit" type="button" (click)="editQuantity(0)" class="btn btn-link p-0">Supprimer</button>
          </div>
          <div class="col-lg-4 align-self-center text-lg-end order-lg-3">
            <div>
              <p class="text-secondary m-0">Prix</p>
              <p class="mb-0">{{item?.price?item?.price:item?.product?.price | currency:'EUR':'symbol':'1.2-2':'fr'}}
              </p>
            </div>
          </div>
          <div class="col-lg-4 align-self-center text-lg-end order-lg-last">
            <div>
              <p class="text-secondary m-0">Sous-Total</p>
              <p class="mb-0">{{subTotal | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>