<!-- Modal -->
<div class="modal fade" [id]="'modalEdition'+modalId" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="address" class="modal-title" id="exampleModalLabel">Modification de {{address?.label}}</h5>
        <h5 *ngIf="!address" class="modal-title" id="exampleModalLabel">Nouvelle adresse</h5>
      </div>
      <div class="modal-body">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="label" class="form-label">Désignation</label>
            <input name="label" formControlName="label" type="text" class="form-control"
              [ngClass]="{'is-invalid':label?.errors && label?.touched,'is-valid':!label?.errors && label?.touched}"
              id="label" aria-describedby="validationLabel">
            <div *ngIf="label?.errors?.['required']" id="validationLabel" class="invalid-feedback">
              Saisissez une désignation
            </div>
            <div *ngIf="label?.errors?.['minlength']" id="validationLabel" class="invalid-feedback">
              Doit contenir au moins 3 caractères
            </div>
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Numéro Rue</label>
            <input name="street" formControlName="street" type="text" class="form-control"
              [ngClass]="{'is-invalid':street?.errors && street?.touched,'is-valid':!street?.errors && street?.touched}"
              id="street" aria-describedby="validationStreet">
            <div *ngIf="street?.errors?.['required']" id="validationStreet" class="invalid-feedback">
              Saisissez la rue
            </div>
            <div *ngIf="street?.errors?.['minlength']" id="validationStreet" class="invalid-feedback">
              Doit contenir au moins 3 caractères
            </div>
          </div>
          <div class="mb-3">
            <label for="zipCode" class="form-label">Code postal</label>
            <input name="zipCode" formControlName="zipCode" type="text" class="form-control"
              [ngClass]="{'is-invalid':zipCode?.errors && zipCode?.touched,'is-valid':!zipCode?.errors && zipCode?.touched}"
              id="zipCode" aria-describedby="validationZipCode">
            <div *ngIf="zipCode?.errors?.['required']" id="validationZipCode" class="invalid-feedback">
              Saisissez un code postal
            </div>
            <div
              *ngIf="zipCode?.errors?.['minlength'] || zipCode?.errors?.['maxlength'] || zipCode?.errors?.['hasOnlyNumbers']"
              id="validationZipCode" class="invalid-feedback">
              Doit contenir 5 chiffres
            </div>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Ville</label>
            <input name="city" formControlName="city" type="text" class="form-control"
              [ngClass]="{'is-invalid':city?.errors && city?.touched,'is-valid':!city?.errors && city?.touched}"
              id="city" aria-describedby="validationCity">
            <div *ngIf="city?.errors?.['required']" id="validationCity" class="invalid-feedback">
              Saisissez une ville
            </div>
            <div *ngIf="city?.errors?.['minlength']" id="validationCity" class="invalid-feedback">
              Doit contenir au moins 3 caractères
            </div>
            <div *ngIf="city?.errors?.['hasOnlyLettersAndSpace']" id="validationCity" class="invalid-feedback">
              Ne doit contenir que des lettres ou des espaces
            </div>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Pays</label>
            <input name="country" formControlName="country" type="text" class="form-control"
              [ngClass]="{'is-invalid':country?.errors && country?.touched,'is-valid':!country?.errors && country?.touched}"
              id="country" aria-describedby="validationCountry">
            <div *ngIf="country?.errors?.['required']" id="validationCountry" class="invalid-feedback">
              Saisissez un pays
            </div>
            <div *ngIf="country?.errors?.['minlength']" id="validationCountry" class="invalid-feedback">
              Doit contenir au moins 3 caractères
            </div>
            <div *ngIf="country?.errors?.['hasOnlyLettersAndSpace']" id="validationCountry" class="invalid-feedback">
              Ne doit contenir que des lettres ou des espaces
            </div>
          </div>
          <div class="row justify-content-evenly">
            <div class="col-auto">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="initForm()">Fermer</button>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"
                [disabled]="!form?.valid">Valider</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>