<h2 class="text-center my-3">Créer votre compte</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="register()">
            <div class="mb-3">
                <label for="firstName" class="form-label">Prénom</label>
                <input name="firstName" formControlName="firstName" type="firstName" class="form-control"
                    [ngClass]="{'is-invalid':firstName?.errors && firstName?.touched,'is-valid':!firstName?.errors && firstName?.touched}"
                    id="firstName" aria-describedby="validationFirstName">
                <div *ngIf="firstName?.errors?.['required']" id="validationFirstName" class="invalid-feedback">
                    Saisissez un prénom
                </div>
                <div *ngIf="firstName?.errors?.['minlength']" id="validationFirstName" class="invalid-feedback">
                    Doit contenir au moins 3 caractères
                </div>
                <div *ngIf="firstName?.errors?.['hasOnlyLettersAndSpace']" id="validationFirstName"
                    class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Nom</label>
                <input name="lastName" formControlName="lastName" type="lastName" class="form-control"
                    [ngClass]="{'is-invalid':lastName?.errors && lastName?.touched,'is-valid':!lastName?.errors && lastName?.touched}"
                    id="lastName" aria-describedby="validationLastName">
                <div *ngIf="lastName?.errors?.['required']" id="validationlastName" class="invalid-feedback">
                    Saisissez un nom
                </div>
                <div *ngIf="lastName?.errors?.['minlength']" id="validationlastName" class="invalid-feedback">
                    Le nom doit contenir au moins 3 caractères
                </div>
                <div *ngIf="lastName?.errors?.['hasOnlyLettersAndSpace']" id="validationlastName"
                    class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Téléphone</label>
                <input name="phone" formControlName="phone" type="phone" class="form-control"
                    [ngClass]="{'is-invalid':phone?.errors && phone?.touched,'is-valid':!phone?.errors && phone?.touched}"
                    id="phone" aria-describedby="validationPhone">
                <div *ngIf="phone?.errors?.['minlength'] || phone?.errors?.['maxlength']" id="validationPhone"
                    class="invalid-feedback">
                    Veuillez saisir 10 chiffres
                </div>
                <div *ngIf="phone?.errors?.['hasOnlyNumbers']" id="validationPhone" class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Adresse</label>
                <input name="address" formControlName="address" type="address" class="form-control"
                    [ngClass]="{'is-invalid':address?.errors && address?.touched,'is-valid':!address?.errors && address?.touched}"
                    id="address" aria-describedby="validationaddress">
                <div *ngIf="address?.errors?.['required']" id="validationaddress" class="invalid-feedback">
                    Saisissez une adresse
                </div>
                <div *ngIf="address?.errors?.['minlength']" id="validationaddress" class="invalid-feedback">
                    L'adresse doit contenir au moins 3 caractères
                </div>
            </div>
            <div class="mb-3">
                <label for="zipCode" class="form-label">Code postale</label>
                <input name="zipCode" formControlName="zipCode" type="zipCode" class="form-control"
                    [ngClass]="{'is-invalid':zipCode?.errors && zipCode?.touched,'is-valid':!zipCode?.errors && zipCode?.touched}"
                    id="zipCode" aria-describedby="validationzipCode">
                <div *ngIf="zipCode?.errors?.['minlength'] || zipCode?.errors?.['maxlength']" id="validationzipCode"
                    class="invalid-feedback">
                    Veuillez saisir 5 chiffres
                </div>
                <div *ngIf="zipCode?.errors?.['hasOnlyNumbers']" id="validationzipCode" class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Ville</label>
                <input name="city" formControlName="city" type="city" class="form-control"
                    [ngClass]="{'is-invalid':city?.errors && city?.touched,'is-valid':!city?.errors && city?.touched}"
                    id="city" aria-describedby="validationcity">
                <div *ngIf="city?.errors?.['required']" id="validationcity" class="invalid-feedback">
                    Saisissez une ville
                </div>
                <div *ngIf="city?.errors?.['minlength']" id="validationcity" class="invalid-feedback">
                    Doit contenir au moins 3 caractères
                </div>
                <div *ngIf="city?.errors?.['hasOnlyLettersAndSpace']" id="validationcity" class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Pays</label>
                <input name="country" formControlName="country" type="country" class="form-control"
                    [ngClass]="{'is-invalid':country?.errors && country?.touched,'is-valid':!country?.errors && country?.touched}"
                    id="country" aria-describedby="validationcountry">
                <div *ngIf="country?.errors?.['required']" id="validationcountry" class="invalid-feedback">
                    Saisissez un pays
                </div>
                <div *ngIf="country?.errors?.['minlength']" id="validationcountry" class="invalid-feedback">
                    Doit contenir au moins 3 caractères
                </div>
                <div *ngIf="country?.errors?.['hasOnlyLettersAndSpace']" id="validationcountry"
                    class="invalid-feedback">
                    Ne doit contenir que des lettres ou des espaces
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="login()">
                    <p class="text-danger" *ngIf="hasError">Identifiant ou mot de passe invalide</p>
                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse mail</label>
                        <input name="email" [(ngModel)]="email" type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input name="password" [(ngModel)]="password" type="password" class="form-control"
                            id="password">
                    </div>
                </form>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary mx-3" [disabled]="!form.valid">Valider</button>
                <p *ngIf="submitStatus == 1" class="text-success m-0 d-inline">Données mises à jour</p>
                <p *ngIf="submitStatus == -1" class="text-danger m-0 d-inline">mise à jour impossible</p>
            </div>
        </form>
    </div>
</div>