<div class="row mb-3 g-3">
  <div class="col-12 d-none d-lg-block">
    <div class="card shadow-sm">
      <div class="card-body bg-secondary bg-gradient text-white">
        <div class="row align-items-center">
          <div class="col-9">
            <div class="row">
              <div class="col-3">Date</div>
              <div class="col-3">N°</div>
              <div class="col-3">Statut</div>
              <div class="col-3">Montant</div>
            </div>
          </div>
          <div class="col-3">
            Détails
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let order of orders" class="col-12">
    <app-order-card [order]="order"></app-order-card>
  </div>
</div>