<div *ngIf="address" class="card shadow-sm">
  <div class="card-header p-2">
    <div class="row g-0">
      <div class="col align-self-center">{{ address?.label}}</div>
      <div *ngIf="edit" class="col-auto">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
          [attr.data-bs-target]="'#modalEdition'+address.id">Editer</button>
      </div>
      <div *ngIf="edit" class="col-auto ms-2">
        <button type="button" (click)="delete()" class="btn btn-sm btn-outline-secondary">Supprimer</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{address?.street}}</p>
    <p class="card-text">{{address?.zipCode}} {{address?.city}}</p>
    <p class="card-text">{{address?.country}}</p>
  </div>
</div>

<!-- Modal -->
<app-address-edit *ngIf="address" [address]="address"></app-address-edit>