<h2 class="text-center my-3">Merci pour votre commande</h2>
<div class="vstack gap-3">
  <app-item-list [items]="order?.items"></app-item-list>
  <div class="col-auto align-self-end">
    <p class="fs-5 fw-bold pe-3">Total : {{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
  </div>
</div>