<h2 class="text-center my-3 bg-secondary text-white py-2">Commande #{{order?.id}} : Liste des produits</h2>
<div class="px-2">
  <div class="row">
    <div class="col-12 mb-3">
      <app-address-card [address]="order?.address"></app-address-card>
    </div>
    <div class="col-12 mb-3">
      <app-item-list [items]="order?.items"></app-item-list>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <p class="fs-5 fw-bold pe-3">Total : {{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
    </div>
  </div>