<form>
    <div *ngFor="let address of addresses;let idx=index" class="mb-1">
        <input [(ngModel)]="addressSelected" (change)="sendAddress()" class="form-check-input" type="radio" [id]="'address'+idx" name="address"
            [value]="address">
        <label class="form-check-label ps-2" [for]="'address'+idx">{{ address.label }}</label>
    </div>
</form>