<h2 class="text-center my-3">Récapitulatif de la commande</h2>
<div class="vstack gap-3">
  <app-item-list [items]="newOrder.items"></app-item-list>
  <div class="col-auto align-self-end">
    <p class="fs-5 fw-bold pe-3">Total : {{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
  </div>
  <app-account-info [user]="newOrder.user"></app-account-info>
  <p class="fw-bold fs-5 mb-0">Selectionnez une adresse</p>
  <app-address-select [addresses]="newOrder.user?.addresses" (addressEmit)="selectAddress($event)"></app-address-select>
  <app-address-card [address]="newOrder.address"></app-address-card>
  <div class="form-floating">
    <select [(ngModel)]="newOrder.payment" class="form-select" id="payment">
      <option value="" disabled>---Choisir un moyen de paiement---</option>
      <option value="CB">Carte bancaire</option>
      <option value="Cadeau">Carte cadeau</option>
      <option value="Virement">Virement</option>
    </select>
    <label for="payment">Moyen de paiement</label>
  </div>
  <div class="col-auto align-self-center">
    <button (click)="order()" [disabled]="newOrder.address==null || newOrder.payment==''" class="btn btn-secondary">Payer ma commande</button>
  </div>
</div>