<div class="card shadow-sm mt-5">
  <div class="row g-0">
    <div class="col-4 align-self-center vstack gap-2">
      <img [src]="imgUrl | serverFile" (error)="imgUrl=defaultImg" class="img-fluid rounded-start" alt="Photo du produit">
      <button *ngIf="authState.user?.role==='ROLE_ADMIN'" [routerLink]="['/product',product?.id,'edit']"
      class="btn btn-outline-secondary mx-4 mb-3">Edition</button>
    </div>
    <div class="col-8">
      <div class="card-body">
        <div class="row row-cols-1 g-3 justify-content-center">
          <div class="col">
            <h5 class="card-title fw-bold text-center mt-3">{{product?.label}}</h5>
            <p class="text-center">Prix : <span class="fw-bold text-primary m-0 ">{{product?.price | currency:'EUR':'symbol':'1.2-2':'fr'}}</span> 
            </p>
            <ul>
              <li>
                Couleur : {{product?.color}}
              </li>
              <li>
                Genre : {{product?.gender}}
              </li>
            </ul>
          </div>
          <div class="col">
            <app-size (sizeEmit)="editSize($event)"></app-size>
          </div>
          <div class="col">
            <app-design (designEmit)="editDesign($event)"></app-design>
          </div>
          <div class="col">
            <app-quantity (quantityEmit)="editQuantity($event)"></app-quantity>
          </div>
          <div class="col ">
            <div class="row justify-content-around ">
              <div class="col-auto align-self-center fs-5 fw-bold"> Total : {{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</div>
              <div class="col-auto align-self-center">
                <app-cart-add [item]="item" (toCartEmit)="addToCart($event)"></app-cart-add>
                <p *ngIf="addSuccess" class="text-success">Produit ajouté</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>