<h2 class="text-center my-3 bg-secondary text-white py-2">Coordonnées</h2>
<div class="px-2">
  <app-account-info [user]="user"></app-account-info>
  <div class="d-flex justify-content-center mt-3">
    <button routerLink="/account/edit" class="btn btn-secondary">Modifier</button>
  </div>
</div>