<div class="form-floating">
  <select [(ngModel)]="sizeSelected" (ngModelChange)="sendSize()" class="form-select" id="size">
    <option *ngFor="let size of sizes" [ngValue]="size">{{size.label}}</option>
  </select>
  <label for="size">Taille</label>
</div>