<h2 class="text-center my-3 bg-secondary text-white py-2">Liste des commandes</h2>
<div class="px-2">
  <app-order-list [orders]="orders?.content"></app-order-list>
  <div *ngIf="orders && orders.totalPages > 1" class="row g-3 mb-3 justify-content-between">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" [disabled]="orders.first"
        (click)="previousPage()">Précédent</button>
    </div>
    <div class="col-auto">
      <select [(ngModel)]="page" (change)="fetchOrders()" class="form-select" id="page">
        <option *ngFor="let item of [].constructor(orders.totalPages); let index=index" [value]="index">{{index+1}}
        </option>
      </select>
      <label class="d-flex justify-content-center" for="page">Page</label>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-secondary" [disabled]="orders.last"
        (click)="nextPage()">Suivant</button>
    </div>
  </div>
</div>