<div class="card shadow-sm">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-9">
        <div class="row">
          <div class="col-6 col-lg-3 order-lg-first fs-6">{{order?.date| date :'dd/MM/YYYY'}}</div>
          <div class="col-6 col-lg-3 order-lg-3">{{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</div>
          <div class="col-6 col-lg-3 order-lg-1">#{{order?.id}}</div>
          <div class="col-6 col-lg-3 order-lg-2">{{order?.status}}</div>
        </div>
      </div>
      <div class="col-3">
        <button [routerLink]="['/account/order',order?.id]" type="button" class="btn btn-secondary">Voir</button>
      </div>
    </div>
  </div>
</div>