<div class="form-floating">
    <select [(ngModel)]="quantitySelected" (ngModelChange)="sendQuantity()" class="form-select" id="quantity">
      <option *ngFor="let quantity of [].constructor(maxQuantity+1);let idx=index" [ngValue]="idx">{{idx}}</option>
    </select>
    <label for="quantity">Quantity</label>
  </div>
