<div class="card shadow-sm">
  <div class="row g-0">
    <div class="col-lg-4 align-self-center vstack gap-2">
      <img [src]="imgUrl | serverFile" (error)="imgUrl=defaultImg" class="img-fluid rounded-start mx-2"
        alt="Photo du produit">
      <p class="fw-bold text-primary m-0 text-center">{{product?.price | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
      <div class="btn-group-vertical mx-4">
        <button [routerLink]="['/product',product?.id]" class="btn btn-outline-secondary">Détail</button>
        <button *ngIf="authState.user?.role==='ROLE_ADMIN'" [routerLink]="['/product',product?.id,'edit']"
          class="btn btn-outline-secondary">Edition</button>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card-body pb-0">
        <h5 class="card-title fw-bold text-center mb-3">{{product?.label}}</h5>
        <div class="row row-cols-1 justify-content-center">
          <div class="col mb-2">
            <app-size (sizeEmit)="editSize($event)"></app-size>
          </div>
          <div class="col mb-2">
            <app-design (designEmit)="editDesign($event)"></app-design>
          </div>
          <div class="col mb-2">
            <app-quantity (quantityEmit)="editQuantity($event)"></app-quantity>
          </div>
          <div class="col mt-3 vstack" id="addToCart">
            <app-cart-add class=" mx-auto" [item]="item" (toCartEmit)="addToCart($event)"></app-cart-add>
            <p *ngIf="addSuccessfull" class="text-success m-0 mx-auto">Produit ajouté</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>