<div class="form-floating">
  <select [(ngModel)]="designSelected" (ngModelChange)="sendDesign()" class="form-select" id="design">
    <option *ngFor="let design of designs" [ngValue]="design">{{design.label}}</option>
  </select>
  <label for="design">Motif</label>
</div>