<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="label" class="form-label">Nom</label>
    <input type="label" class="form-control" formControlName="label"
      [ngClass]="{'is-invalid':label?.errors && label?.touched,'is-valid':!label?.errors && label?.touched}"
      id="label" aria-describedby="validationLabel">
      <div *ngIf="label?.errors?.['required']" id="validationLabel" class="invalid-feedback">
        Saisissez un nom
      </div>
      <div *ngIf="label?.errors?.['required']" id="validationLabel" class="invalid-feedback">
        Doit contenir au moins 3 caractères 
      </div>
    </div>
  <div class="mb-3">
    <label for="reference" class="form-label">Référence</label>
    <input type="reference" class="form-control" formControlName="reference"
    [ngClass]="{'is-invalid':reference?.errors && reference?.touched,'is-valid':!reference?.errors && reference?.touched}"
    id="reference" aria-describedby="validationreference">
    <div *ngIf="reference?.errors?.['required']" id="validationreference" class="invalid-feedback">
      Saisissez une référence
    </div>
    <div *ngIf="reference?.errors?.['min']" id="validationreference" class="invalid-feedback">
      Le prix doit être supérieur à 0 
    </div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input type="number" class="form-control" formControlName="price"
      [ngClass]="{'is-invalid':price?.errors && price?.touched,'is-valid':!price?.errors && price?.touched}"
      id="price" aria-describedby="validationPrice">
      <div *ngIf="price?.errors?.['required']" id="validationPrice" class="invalid-feedback">
        Saisissez un prix
      </div>
      <div *ngIf="price?.errors?.['min']" id="validationPrice" class="invalid-feedback">
        Le prix doit être supérieur à 0 
      </div>
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Couleur</label>
    <input type="text" class="form-control" formControlName="color"
      [ngClass]="{'is-invalid':color?.errors && color?.touched,'is-valid':!color?.errors && color?.touched}"
      id="color" aria-describedby="validationColor">
      <div *ngIf="color?.errors?.['required']" id="validationColor" class="invalid-feedback">
      Saisissez une couleur
      </div>
      <div *ngIf="color?.errors?.['minLength']" id="validationColor" class="invalid-feedback">
        Doit contenir au moins 3 caractères 
      </div>
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Genre</label>
    <input type="text" class="form-control" formControlName="gender"
    [ngClass]="{'is-invalid':gender?.errors && gender?.touched,'is-valid':!gender?.errors && gender?.touched}"
    id="gender" aria-describedby="validationgender">
    <div *ngIf="gender?.errors?.['required']" id="validationgender" class="invalid-feedback">
    Saisissez un genre
    </div>
    <div *ngIf="gender?.errors?.['minLength']" id="validationgender" class="invalid-feedback">
      Doit contenir au moins 3 caractères 
    </div>
    </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="file" class="form-control" (change)="changeFile($event)" id="image">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>