<div class="form-floating">
    <select [(ngModel)]="selected" (ngModelChange)="sendFilter()" class="form-select" id="list">
        <option value="">Tous</option>
        <option *ngFor="let item of list" [ngValue]="item">{{item}}</option>
    </select>
    <label for="list">{{name}}</label>
</div>