<h2 class="text-center my-3 bg-secondary text-white py-2">Gestion des adresses</h2>
<div class="px-2">
  <div class="mt-3">
    <div class="row g-3">
      <div *ngFor="let address of addresses" class="col-lg-6">
        <app-address-card [address]="address" [edit]="true" (deleteAddress)="deleteAddress($event)"></app-address-card>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
        data-bs-target="#modalEdition">Nouvelle adresse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-address-edit (newAddress)="addAddress($event)"></app-address-edit>