<h2 class="text-center my-3">Liste des articles</h2>
<div *ngIf="cart && cart.length > 0" id="with-item">
  <div class="row g-2">
    <div *ngFor="let item of cart" class="col-12">
      <app-item-card [item]="item" [edit]="true"></app-item-card>
    </div>
  </div>
  <div class="row align-items-center justify-content-lg-between justify-content-end g-2 mt-2">
    <div class="col-auto align-self-start">
      <button type="button" (click)="deleteCart()" class="btn btn-danger">Supprimer le panier</button>
    </div>
    <div class="col-auto align-self-center">
      <button routerLink="/order" class="btn btn-secondary ">Passer Commande</button>
    </div>
    <div class="col-auto align-self-end">
      <p class="fs-5 fw-bold pe-3">Total : {{total | currency:'EUR':'symbol':'1.2-2':'fr'}}</p>
    </div>
  </div>
</div>
<div *ngIf="cart && cart.length == 0" class="d-flex align-items-center justify-content-center" id="no-item">
  <h3>Votre panier est vide</h3>
</div>