<div class="card shadow-sm">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Ancien mot de passe</label>
        <input name="oldPassword" formControlName="oldPassword" type="password" class="form-control"
          [ngClass]="{'is-invalid':oldPassword?.errors && oldPassword?.touched,'is-valid':!oldPassword?.errors && oldPassword?.touched}"
          id="oldPassword" aria-describedby="validationOldPassword">
        <div *ngIf="oldPassword?.errors?.['required']" id="validationOldPassword" class="invalid-feedback">
          Veuillez saisir l'ancien mot de passe
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input name="password" formControlName="password" type="password" class="form-control"
          [ngClass]="{'is-invalid':password?.errors && password?.touched,'is-valid':!password?.errors && password?.touched}"
          id="password" aria-describedby="validationNewPassword">
        <div *ngIf="password?.errors?.['required']" id="validationNewPassword" class="invalid-feedback">
          Veuillez saisir le nouveau mot de passe
        </div>
      </div>
      <div class="mb-3">
        <label for="repeatPassword" class="form-label">Répétition du mot de passe</label>
        <input name="repeatPassword" formControlName="repeatPassword" type="password" class="form-control"
          [ngClass]="{'is-invalid':form?.errors?.['PasswordMatch'] && repeatPassword?.touched,'is-valid':!form?.errors?.['PasswordMatch'] && repeatPassword?.touched}"
          id="repeatPassword" aria-describedby="validationRepeatPassword">
        <div id="validationRepeatPassword" class="invalid-feedback">
          Les mots de passe ne correspondent pas
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-secondary mx-3" [disabled]="!form.valid">Valider</button>
        <p *ngIf="submitStatus == 1" class="text-success m-0 d-inline">Mot de passe mis à jour</p>
        <p *ngIf="submitStatus == -1" class="text-danger m-0 d-inline">mise à jour impossible</p>
      </div>
    </form>
  </div>
</div>