<h2 class="text-center my-3 bg-secondary text-white py-2">Modification du compte</h2>
<div class="px-2">
  <div class="mt-3">
    <div class="row g-3">
      <div class="col-lg-6">
        <app-account-edit-info></app-account-edit-info>
      </div>
      <div class="col-lg-6">
        <app-account-edit-pwd></app-account-edit-pwd>
      </div>
    </div>
  </div>
</div>