<h2 class="text-center my-3">Liste des produits</h2>
<div class="row g-2 align-items-center justify-content-center mb-2">
  <div class="col-lg-auto">
    <p class="mb-0">Filtres</p>
  </div>
  <div class="col-lg-auto">
    <div class="filter">
      <app-product-filter [name]="'Couleur'" [list]="colors" (selection)="selectColor($event)"></app-product-filter>
    </div>
  </div>
  <div class="col-lg-auto">
    <div class="filter">
      <app-product-filter [name]="'Genre'" [list]="genders" (selection)="selectGender($event)"></app-product-filter>
    </div>
  </div>
</div>
<app-product-list [products]="products?.content"></app-product-list>
<div class="row g-3 mb-3 justify-content-between">
  <div class="col-auto">
    <div class="row g-1 align-items-end">
      <div class="col-auto">
        <button type="button" class="btn btn-outline-secondary" [disabled]="products?.first"
          (click)="previousPage()">Précédent</button>
      </div>
      <div class="col-auto">
        <label for="page">Page</label>
        <select [(ngModel)]="page" (change)="fetchProducts()" class="form-select" id="page">
          <option *ngFor="let item of [].constructor(products?.totalPages); let index=index" [value]="index">{{index+1}}
          </option>
        </select>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-secondary" [disabled]="products?.last"
          (click)="nextPage()">Suivant</button>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <label for="pageSize">Produit par page</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="fetchProducts()" class="form-select">
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>