<div class="card shadow-sm">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Prénom</label>
        <input name="firstName" formControlName="firstName" type="text" class="form-control"
          [ngClass]="{'is-invalid':firstName?.errors && firstName?.touched,'is-valid':!firstName?.errors && firstName?.touched}"
          id="firstName" aria-describedby="validationFirstName">
        <div *ngIf="firstName?.errors?.['required']" id="validationFirstName" class="invalid-feedback">
          Saisissez un prénom
        </div>
        <div *ngIf="firstName?.errors?.['minlength']" id="validationFirstName" class="invalid-feedback">
          Doit contenir au moins 3 caractères
        </div>
        <div *ngIf="firstName?.errors?.['hasOnlyLettersAndSpace']" id="validationFirstName" class="invalid-feedback">
          Ne doit contenir que des lettres ou des espaces
        </div>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Nom</label>
        <input name="lastName" formControlName="lastName" type="text" class="form-control"
          [ngClass]="{'is-invalid':lastName?.errors && lastName?.touched,'is-valid':!lastName?.errors && lastName?.touched}"
          id="lastName" aria-describedby="validationLastName">
        <div *ngIf="lastName?.errors?.['required']" id="validationlastName" class="invalid-feedback">
          Saisissez un nom
        </div>
        <div *ngIf="lastName?.errors?.['minlength']" id="validationlastName" class="invalid-feedback">
          Le nom doit contenir au moins 3 caractères
        </div>
        <div *ngIf="lastName?.errors?.['hasOnlyLettersAndSpace']" id="validationlastName" class="invalid-feedback">
          Ne doit contenir que des lettres ou des espaces
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Téléphone</label>
        <input name="phone" formControlName="phone" type="text" class="form-control"
          [ngClass]="{'is-invalid':phone?.errors && phone?.touched,'is-valid':!phone?.errors && phone?.touched}"
          id="phone" aria-describedby="validationPhone">
        <div *ngIf="phone?.errors?.['minlength'] || phone?.errors?.['maxlength']" id="validationPhone"
          class="invalid-feedback">
          Veuillez saisir 10 chiffres
        </div>
        <div *ngIf="phone?.errors?.['hasOnlyNumbers']" id="validationPhone" class="invalid-feedback">
          Ne doit contenir que des lettres ou des espaces
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input name="email" formControlName="email" type="text" class="form-control" id="email">
      </div>
      <div>
        <button type="submit" class="btn btn-secondary mx-3" [disabled]="!form.valid">Valider</button>
        <p *ngIf="submitStatus == 1" class="text-success m-0 d-inline">Données mises à jour</p>
        <p *ngIf="submitStatus == -1" class="text-danger m-0 d-inline">mise à jour impossible</p>
      </div>
    </form>
  </div>
</div>