<nav class="navbar navbar-dark bg-secondary mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row pt-2 m-0 text-white">
          <div class="col-12 m-0">
            <p class="fw-bold mb-1">Bonjour</p>
          </div>
          <div class="col-12 m-0">
            <p class="fst-italic mb-1">{{user?.firstName}} {{user?.lastName}}</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row g-2 py-2 m-0">
          <div class="col-4 col-lg-12 m-0 d-flex flex-column mb-lg-2">
            <button routerLink="/account" class="btn btn-sm btn-outline-light" type="button">Mes informations</button>
          </div>
          <div class="col-4 col-lg-12 m-0 d-flex flex-column mb-lg-2">
            <button routerLink="/account/address" class="btn btn-sm btn-outline-light" type="button">Mes
              adresses</button>
          </div>
          <div class="col-4 col-lg-12 m-0 d-flex flex-column">
            <button routerLink="/account/order" class="btn btn-sm btn-outline-light" type="button">Mes
              commandes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>